li{
	 background-color: #ccc !important;
}	
.my-outer .inner-2{
	 background-color: #001;
}
.number-list > li{
	background-color: #f00;
}
.number-list > li+li{
	background-color: #0f0;
}
.number-list > li~.demo{
	background-color: #000;
}
